@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 0px;
}

.custom-height {
  height: calc(100vh - 80px - 56px);
}

.custom-height-table-parent {
  height: calc(100vh - 80px - 56px - 56px);
  overflow-y: hidden;
}
.custom-height-table {
  height: calc(100vh - 80px - 56px - 56px - 58px) !important;
}

.sidebar-height {
  height: calc(100vh - 80px);
}

.card-shadow {
  -webkit-box-shadow: 0px 0px 12px -5px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 0px 12px -5px rgba(0,0,0,0.5);
  box-shadow: 0px 0px 12px -5px rgba(0,0,0,0.5);
}
